.bg5{
  background-image: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/0eef3ba233adf8540be11d4e7d5d88e1.jpg?w=2452&h=920");
  width: 100%;
  height: 300px;
  z-index: -1;
}
.navigation{
  display: flex;
  background-color: #FFF;
  height: 100px;
  width: 100%;
  z-index: 100;
}
.item{
  background-color:#FFF;
  height: 100px;
  width: 100px;
  margin: auto;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
.detail{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  background-color: #FFF;
  height: 200px;
  width: 100%;
  left: 0;
  overflow: hidden;
  border: 1px solid #000;
}
.pic{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.picTxt{
  height: 50px;
}
