.father{
  border: 1px black;
  padding-left: 20px;
}
.node{
  background-color: coral;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.child{
  padding-left: 25px;
  display: block;
}
.child-hide{
  padding-left: 20px;
  display: none;
}